.categories {
  border-radius: 4px 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.categories {
  font-size: 14px;
}

@media (min-height: 200px) and (min-width: 200px) {  .categories { font-size: 11px; } }
@media (min-height: 300px) and (min-width: 300px) {  .categories { font-size: 12px; } }
@media (min-height: 400px) and (min-width: 400px) {  .categories { font-size: 13px; } }
@media (min-height: 500px) and (min-width: 500px) {  .categories { font-size: 14px; } }
@media (min-height: 600px) and (min-width: 600px) {  .categories { font-size: 15px; } }
@media (min-height: 700px) and (min-width: 700px) {  .categories { font-size: 16px; } }
@media (min-height: 800px) and (min-width: 800px) {  .categories { font-size: 18px; } }
@media (min-height: 900px) and (min-width: 900px) {  .categories { font-size: 20px; } }
@media (min-height: 1000px) and (min-width: 1000px) {  .categories { font-size: 22px; } }
