.category {
  display: flex;
  border-bottom: 4px dotted #DDD;

  .category-number {
    font-size: 0.8em;
    margin: auto 5px 2px 0;
    font-weight: 700;
  }

  .category-name {
    font-weight: 500;
  }
}
